@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-padding: 16px;

  /* Defining color variables */
  --main-bg-color-light: #ffffff;
  --main-bg-color-dark: linear-gradient(
    to bottom,
    #0a1f31,
    #0c020b
  ); // Gradient for dark theme
  --main-text-color-light: #000000;
  --main-text-color-dark: #c7eafd;

  --heading-color-light: #003f73;
  --heading-color-dark: #328ec5;

  --tg-bg-color: var(
    --main-bg-color-dark
  ); // Set to gradient by default for dark theme
  --tg-text-color: var(--main-text-color-dark);
}

body {
  padding: var(--main-padding);
  font-family: "Poppins", sans-serif;

  background: var(--tg-bg-color); /* Use the gradient variable for dark theme */
  color: var(--tg-text-color);
}

/* Light Theme Styles */
body.light-theme {
  background: var(--main-bg-color-light); /* Solid color for light theme */
  color: var(--main-text-color-light);
}

span,
p {
  color: var(--tg-text-color); /* Use text color variable */
}

body.light-theme span,
body.light-theme p {
  color: var(--main-text-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color-dark);
}

body.light-theme h1,
body.light-theme h2,
body.light-theme h3,
body.light-theme h4,
body.light-theme h5,
body.light-theme h6 {
  color: var(--heading-color-light);
}
